{{ define "main" }}
<section class="section">
  <div class="section--narrow">
    <h1>{{ .Title }}</h1>
    {{ with .Params.image }}
    {{ $img := resources.Get . }}
    {{ if $img }}
    {{ $photo := $img.Fill "300x300 webp" }}
    <a href="{{ $img.RelPermalink }}" target="_blank"><img src="{{ $photo.RelPermalink }}" alt="{{ $.Title }}" class="captain__photo" width="{{ $photo.Width }}" height="{{ $photo.Height }}"></a>
    {{ end }}
    {{ end }}
    {{ .Content }}
    {{ with .Params.ctaText }}
    <p style="margin-top: 2rem;"><a href="{{ $.Params.ctaUrl }}" class="btn" target="_blank" rel="noopener">{{ . }}</a></p>
    {{ end }}
  </div>
</section>
{{ end }}
